<!-- add-comment.handlebars -->
<div class="card">
  <h3 class="card-header">Add Comment</h3>
  <form action="/api/comments/add-comment" method="POST" class="card-body add-comment-form">
    <input type="hidden" name="post_id" value="{{post_id}}">
    <input type="hidden" name="user_id" value="{{user_id}}">
    <label for="comment_text" class="form-label">Comment</label>
    <textarea name="comment_text" class="form-input">This is a comment.</textarea>
    <button type="submit" class="btn">Submit Comment</button>
  </form>
</div>
<script src="/js/add-comment.js"></script>
